@charset "utf-8";

/* RESET E VARIÁVEIS */
* {
    --azul-escuro:    #0D3759;
    --azul-escuro50:  rgba(13, 55, 89, 0.5);
    --azul:           #006DAA;
    --azul80:         rgba(0, 108, 170, 0.8);
    --verde:          #00A1C1;
    --laranja:        #F7AE60;
    --roxo:           #8B7BB7;
    --roxo50:         rgba(139, 123, 183, 0.5);
    --cinza:          #F1F9FA;
}

div#box_icone img{
    padding: 20px;
    width: 75px;
    height: 75px;
}

/* TELA LOGIN */
section#formulario {
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
}

div#box_log {
    background-color: #eceff1;
    min-width: 250px;
    max-width: 500px;
    float: center;
    padding: 80px 20px 10px 20px;
    border-radius: 25px;
}

section#formulario div#senha i {
    color:#eceff1;
}

div#senha a {
    color: inherit;
}

div.bt a {
    margin: 0 0 15px 0;
    width: 100%;
    border-radius: 25px;
    background-color:#00a1c1;
}

.btn-small:hover {
    background-color: #00a1c1;
}

.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label{
    color: var(--azul-escuro)!important;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid var(--azul)!important;
    box-shadow: 0 1px 0 0 var(--azul)!important;
}

.input-field input[type=text].valid,
.input-field input[type=password].valid {
border-bottom: 1px solid #9e9e9e!important;
box-shadow: 0 0px 0 0 #9e9e9e!important;
}

div#escolha div.modal-content {
    text-align: center;
}

div#escolha div.modal-content span{
    font-weight: 900;
}

div#escolha div.modal-footer {
    text-align: center;
}

div#escolha div.modal-footer .btn-flat:hover {
    background-color: var(--verde);
    color: #ffffff;
    font-weight: 900;
}

/* MEDIA QUERIES */
@media screen and (max-width:380px) {
    section#formulario {
        padding-top: 140px;
    }
    div#box_log {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
}