@charset "utf-8";

article#detalhe_noticia {
    margin: 0 auto;
    padding: 20px ;
    padding-top: 130px;
    padding-bottom: 100px;
    font-size: 1.2em;
}

article#detalhe_noticia h4 {
    margin: 0;
    padding: 1em 0;
    text-align: center;
    font-weight: 900;
}

article#detalhe_noticia p {
    text-align: justify;
    padding-bottom: 1em;
}

iframe {
    width: 100%;
}

div#img_noticia_detalhe {
    background-image: url("../img/noticia_01_detalhe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 10em;
    width: 100%;
}