@charset "utf-8";

/*VARIÁVEIS */
* {
    --azul-escuro:    #0D3759;
    --azul-escuro50:  rgba(13, 55, 89, 0.5);
    --azul:           #006DAA;
    --azul80:         rgba(0, 108, 170, 0.8);
    --verde:          #00A1C1;
    --laranja:        #F7AE60;
    --roxo:           #8B7BB7;
    --roxo50:         rgba(139, 123, 183, 0.5);
    --roxo30:         rgba(139, 123, 183, 0.3);
    --roxo20:         rgba(139, 123, 183, 0.2);
    --cinza:          #F1F9FA;
}

/* BARRA DE PESQUISA */
header div#box_pesquisa{
    background-color: var(--roxo20);
    position: fixed;
    width: 100%;
    height: 50px;
    right: 0px;
    top: 120px;
}

header div#box_pesquisa input {
    background-color: #ffffff;
    height: 70%;
    width: 100%;
    border-radius: 20px;
    padding-left: 10px;  
    margin: 8px;
    border-bottom: 0px solid;
}

div#box_base {
    height: 100%;
    text-align: center;
}

div#box_base div:nth-child(1) {
    height: 50px;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}

div#box_base div:nth-child(2) {
    height: 50px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

div#box_base div i{
    color: var(--roxo);
}

div#box_base div i:hover{
    color: var(--roxo50);
}

/* FORUM */
section#conteudo_forum {
    padding: 10px;
    padding-top: 170px ;
    padding-bottom: 80px;
}

section#conteudo_forum div.grupo {
    margin: 20px auto;
    max-width: 1000px;
    min-width: 300px;
}

/* BOX PERGUNTA */
section#conteudo_forum div.box_pergunta{
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--roxo30);
    margin: 10px 30px 0 10px;
    border-radius: 10px;
    padding: 10px;
}

section#conteudo_forum div.esquerda_p {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 130px;

}

section#conteudo_forum div.direita_p {
    text-align: right;
    flex-flow: column nowrap;
    padding: 0px;
    padding-left: 20px;
    padding-right: 10px;
}

section#conteudo_forum div.direita_p p,
section#conteudo_forum div.direita_p h4 {
    text-align: left;
}

section#conteudo_forum div.foto_usuario_p {
    background-image: url("../img/foto_usuario.jpg");
    background-position: center;
    background-size: 100%;
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
}

section#conteudo_forum div.box_pergunta div.direita_p h4 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: 900;
}

section#conteudo_forum div.box_pergunta div.esquerda_p p {
    font-size: 0.7em;
}

section#conteudo_forum div.box_pergunta div.botao {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--verde);
    width: 95px;
    border-radius: 20px;
    text-align: center;
}

section#conteudo_forum div.box_pergunta div.botao a {
    color: #ffffff;
}

section#conteudo_forum div.box_pergunta div.botao a:hover {
    font-weight: 900;
}

/* RESPOSTAS */
section#conteudo_forum div.box_resposta{
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--roxo20);
    margin: 0 10px 0 30px;
    border-radius: 10px;
    padding: 20px 10px;
}

section#conteudo_forum div.grupo div:nth-child(2) div.foto_usuario_r {
    background-image: url("../img/foto_usuario2.jpg");
}

section#conteudo_forum div.grupo div:nth-child(3) div.foto_usuario_r {
    background-image: url("../img/foto_usuario3.jpg");
}

section#conteudo_forum div.foto_usuario_r {
    background-position: center;
    background-size: 100%;
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
}

section#conteudo_forum div.esquerda_r {
    padding-right: 20px;
    padding-left: 10px;
}

section#conteudo_forum div.esquerda_r p{
    text-align: left;    
}

section#conteudo_forum div.direita_r {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 130px;
}

section#conteudo_forum div.direita_r p {
    font-size: 0.7em;
}

/* PAGINAÇÃO */
section#conteudo_forum ul.pagination {
        text-align: center;
}

.pagination li.active {
    background-color: var(--verde);
}

.pagination li a {
    color: var(--azul-escuro);
}

@media screen and (max-width: 400px ) {
    /* PESQUISA */
    /* section#conteudo_forum {
        padding-top: 200px ;
    } */
    header div#box_pesquisa input{
        font-size: 1em;
    }
    div#box_base div:nth-child(1) {
        width: 70%;
    }

    /* PERGUNTAS */
    section#conteudo_forum div.box_pergunta{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
    }  

    section#conteudo_forum div.box_pergunta{ 
        padding-top: 20px;
        padding-bottom: 20px;
    }

    section#conteudo_forum div.direita_p {
        padding-top: 20px;
    }

    section#conteudo_forum div.direita_p p,
    section#conteudo_forum div.direita_p h4 {
        text-align: center;
    }

    section#conteudo_forum div.direita_p {
        text-align: center;
    }

    /* RESPOSTAS */
    section#conteudo_forum div.box_resposta{
        display: flex;
        flex-flow: column-reverse nowrap;
        align-items: center;
    }

    section#conteudo_forum div.box_resposta{ 
        padding-top: 20px;
        padding-bottom: 20px;
    }

    section#conteudo_forum div.esquerda_r {
        padding-top: 20px;
    }

    section#conteudo_forum div.esquerda_r p,
    section#conteudo_forum div.esquerda_r h4 {
        text-align: center;
    }
}



