@charset "utf-8";

/* RESET E VARIÁVEIS */
* {
    --azul-escuro:    #0D3759;
    --azul-escuro50:  rgba(13, 55, 89, 0.5);
    --azul-escuro70:  rgba(13, 55, 89, 0.7);
    --azul:           #006DAA;
    --azul80:         rgba(0, 108, 170, 0.8);
    --verde:          #00A1C1;
    --laranja:        #F7AE60;
    --roxo:           #8B7BB7;
    --roxo50:         rgba(139, 123, 183, 0.5);
    --cinza:          #F1F9FA;
} 

section#conteudo_instituicao {
    padding: 20px;
    padding-top: 150px;
    padding-bottom: 100px ;
    min-width: 300px;
    max-width: 380px;
    margin: auto;
    
}

/* Bloco cabeçalho do Título da Instituição */
section#conteudo_instituicao div.box_instituicao {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

section#conteudo_instituicao div.box_instituicao div.logo_inst{
    background-image: url("../img/logo_curso_02.jpg");
    background-position: center;
    background-size: 100%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
    margin-left: 0;

}

section#conteudo_instituicao div.box_instituicao .nome_inst {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 45px;
    border-radius: 30px;
    background-color: var(--roxo50);
    text-align: center;
    font-weight: 900;
    font-size: 1.5em;
}


/* Bloco dos Itens de Opções */
section#conteudo_instituicao div.box_itens {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

section#conteudo_instituicao div.box_itens div.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--roxo50);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    text-align: center;
    margin: 5px 34px;
    margin-left: 14px;
    align-items: center;
}

section#conteudo_instituicao div.box_itens:nth-child(2) img {
    width: 45px;
}

section#conteudo_instituicao div.box_itens:nth-child(3) img {
    width: 30px;
}

section#conteudo_instituicao div.box_itens div.nome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--roxo50);
    width: 145px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 1.2em;
}

section#conteudo_instituicao div.box_itens div.nome a{
    color: var(--azul-escuro);
}

section#conteudo_instituicao div.box_itens div.nome a:hover{
    color: var(--azul-escuro70);
}

/* MEDIA QUERIES */
@media screen and (max-width: 380px) {
    section#conteudo_instituicao {
        width: 320px;    
    }
    section#conteudo_instituicao div.box_instituicao div.logo_inst{
        width: 80px;
        height: 80px;
    }

    section#conteudo_instituicao div.box_itens div.icone {
        width: 52px;
        height: 52px;
    }

    section#conteudo_instituicao div.box_itens:nth-child(2) img {
        width: 30px;
    }
    
    section#conteudo_instituicao div.box_itens:nth-child(3) img {
        width: 25px;
    }

    section#conteudo_instituicao div.box_instituicao .nome_inst {
        width: 175px;
        height: 45px;
        font-weight: 900;
        font-size: 1.2em;
    }

    section#conteudo_instituicao div.box_itens div.nome {
        width: 110px;
        height: 30px;
        text-align: center;
        font-weight: 900;
        font-size: 1em;
    }


}