@charset "utf-8";

/*VARIÁVEIS */
* {
    --azul-escuro:    #0D3759;
    --azul-escuro50:  rgba(13, 55, 89, 0.5);
    --azul:           #006DAA;
    --azul80:         rgba(0, 108, 170, 0.8);
    --verde:          #00A1C1;
    --laranja:        #F7AE60;
    --roxo:           #8B7BB7;
    --roxo50:         rgba(139, 123, 183, 0.5);
    --cinza:          #F1F9FA;
}

/* SECTION#CONTEÚDO */

section#conteudo {
    padding: 20px;
    padding-top: 130px;
    width: 100%;
}

section#conteudo p {
    text-align: center;
    font-size: 1.5em;
}

section#conteudo img {
    width: 100%;
}

section#conteudo h3 {
    text-align: center;
    font-size: 2em;
    font-weight: 900;
}

/* SLIDER */

section#conteudo ul.slides h4 {
    font-size: 2.5em;
    color: rgb(251, 185, 5);
    font-weight: 900;
}

section#conteudo ul.slides h5 {
    font-size: 2em;
}

ul.slides h4, ul.slides h5 {
    color: #ffffff;
    text-shadow: 5px 5px 10px #000000;
}

section#conteudo ul.slides {

}


/* BOTÕES */
div#botoes {
    width: 100%;
    text-align: center;
    padding: 20px;
}

div#botoes img{
    height: 100px;
    color: var(--azul-escuro);
}

div#botoes span {
    font-size: 2em;
}

div#botoes div {
    display: inline-block;
    padding: 20px 0px;
}

div#cartoes {
    width: 100%;
    text-align: center;
}


/* CARTÕES */
div#fisico {
    background-image: url("../img/cartao_fisico.png");
}

div#visual {
    background-image: url("../img/cartao_visual.png");
}

div#mudez {
    background-image: url("../img/cartao_mudez.png");
}

div#auditivo {
    background-image: url("../img/cartao_auditivo.png");
}

div#cartoes .cartao {
    display: inline-block;
    margin: 10px;
    margin-bottom: 70px;
}

div.cartao_imagem {
    width: 280px;
    height: 460px;
    border-radius: 25px;
}

div.cartao_box {
    background-color: var(--roxo50);
    width: 280px;
    height: 80px;
    position: relative;
    top: 380px;
    border-radius: 0 0 25px 25px;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    font-size: 3em;
}

